<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        

        {% for publicacion in publicaciones %}
           <div>           
                <p> publicado: {{ publicacion.fecha_publicacion }}</p>
                <h2><a href=""> {{ publicacion.titulo}} </a> </h2>
                <p>{{ publicacion.texto|linebreaksbr }} </p>
            </div>
        {% endfor %}
        

    </body>
</html>